.classified-info ul {

	padding: 1px;
	list-style: none;

}


.classified-info li {

	margin: 12px;
	

}

button .material-icons {
	margin-top: 7px;
}

.md-dialog-content li {

	margin: 12px;
	list-style: none;
}