<md-dialog>
  
  <form>
    
    <md-toolbar>
      <div class="md-toolbar-tools">
        <!-- <md-button ng-click="vanish()">
         Close 
        </md-button> -->

         <md-icon ng-click="vanish()" class="mdi mdi-close"></md-icon>
        
          <span flex></span> 

          <h2>  The Masters </h2>

          <span flex></span>
        <!-- <span flex></span>
        <md-button ng-click="vanish()">
           <md-icon class="mdi mdi-close"></md-icon>
        </md-button> -->
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        
         <li>
          The men and women in this scroll are referred to as Masters not because they belong to a higher species endowed with innate wisdom. The appellation of Masters is ascribed to them because they made a difficult choice to rise above their lives and cast a light on different facets of their existence thereby enabling themselves and others to lead a more thoughtful life.
        </li>
        <li>
          Choose a Master that speaks to you, spend time with them, wrestle with their views, and you will emerge with the strength to negotiate through the valleys of your life.
        </li>
        <li>
          Please note that the information presented against each Master has been and will be a process of accretion. It, however, represents only a sliver of their wisdom and is not a substitute for learning more about their life and their works. The aphorisms that you encounter are meant for quiet introspection, and to lead you to worlds and ideas hitherto unknown to you. It is very important that you do not traffic in their words without an understanding of the context in which they were communicated.
        </li>

      </div>
    </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
 
           
      <md-button class="md-warn" ng-click="vanish()">
       Close
      </md-button>

      <span flex></span>
      
    </md-dialog-actions> -->

      
  </form>
</md-dialog>